<script type="text/javascript">   

    function sendMessage() {
        var userImgUrl = $("#userMessage").val();

        $("#chatBox").append("<p>🧑 User :<br/> " + userImgUrl + "</p>");

        var imgElement = $('<img>').attr('src', userImgUrl).css({ 'max-width': '500px', 'max-height': '500px' });
        $("#chatBox").append(imgElement);

        $("#loading_gif").show();

        scrollDivToBottom();

        $.ajax({
            url: "/OpenAi/GetGpt4oResponse",
            type: "POST",
            data: {
                imgUrl: userImgUrl
            },
            success: function (data) { 
                data = data.replace(/\n{2,}/g, "<br>");
                $("#chatBox").append("<br/>" + data);
                $("#loading_gif").hide();
                scrollDivToBottom();
            },
            error: function (xhr, status, error) {
                $("#chatBox").append("<p style='color:red;'>Error: " + error + "</p>");
                $("#loading_gif").hide();
                scrollDivToBottom();
            }
        });
    }

    function scrollDivToBottom() {
        var objDiv = document.getElementById("chatBox");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>


@{
    ViewData["Title"] = "Home Page";
}

<div id="chatBox" style="text-align:justify; height: 500px; overflow-y:scroll; white-space:pre-wrap">
    <b>Hi !! I am a chatbot. Pleae provide me with the image url only</b>
    <hr/>
</div>

<div id="loading_gif" style="display: none; text-align: left;">
    <img src="~/css/loading_icon.gif" style="width: 8%; height: 8%;" alt="Loading icon" />
    <span>Fetching information ...</span>
</div>

<hr/>
<input type="text" id="userMessage" size="120" />
<button onclick="sendMessage()">Send</button>
